rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stories/{userId} {
      allow update: if request.auth != null && (
        request.auth.uid == userId ||
        (
          request.resource.data.keys().hasOnly(['viewedBy']) &&
          request.resource.data.viewedBy == resource.data.viewedBy.union([request.auth.uid])
        )
      );
    }
  }
}
